body{
  background: black;
}
.header{
    display: grid;
    grid-template-columns: repeat(1fr,4);
    grid-template-areas: "h";
    grid-area: h; 
    background: black;
  }
.title{
    text-align: center;
    color: orangered;
    font-family:Bradley Hand, cursive;
    font-size: 50px;
}
.primary-content .sidebar{
  grid-area: "s";
  background: black;
  color: orangered;
}
.menu ul li {
    display: inline-block;
    padding: 15px;
    background-color: white;
  }
.primary-content{
    display: grid;
    grid-template-columns: repeat(1fr,4);
    grid-template-areas: 
    "s m m m"
    "f f f f"
    ;
  }
.main{
    grid-area: m;
    background: white;
    height: auto;
    text-align: left;
  }
  .grempic,.monkepic,.glasspic,.phonepic,.maskpic{
    width: 200px;
  }

  @media(max-width: 768px){
    .title{
      text-align: left;
    }
    .directions{
      display: none;
    }
  }
