.header{
    display: grid;
    grid-template-columns: repeat(1fr,4);
    grid-template-areas: "h";
    grid-area: h; 
    background: black;
  }
.title{
    text-align: center;
    color: orange;
    font-family:Bradley Hand, cursive;
    font-size: 50px;
}

   
  
  
  

  
  .menu ul li {
    display: inline-block;
    padding: 15px;
  }
  
  .menu a {
    color: white;
    text-decoration: none;
  }
  
  .primary-content{
    display: grid;
    grid-template-columns: repeat(1fr,4);
    grid-template-areas: 
    "s m m m"
    "f f f f"
    ;
  }

  .sidebar{
    grid-area: s;
    background-color: black;
    color: white;
    text-align: left;
}
  
  .main{
    grid-area: m;
    background: white;
    height: 750px;
    text-align: center;
  }